{% include 'base.html.twig' %}

<div>
    <h1>Modification d'un participant : </h1>

    {{ form_start(participantsForm) }}
    {{ form_widget(participantsForm) }}
    <button type="submit">Send</button>

    {{ form_end(participantsForm) }}
    <td><a href="{{ path('participant') }}"> Liste des participants </a></td>
</div>