{% include 'base.html.twig' %}
<h1>Ajout d'un site</h1>

<div>
    {{ form_start(siteForm) }}
    {{ form_widget(siteForm) }}
    <button type="submit">Send</button>

    {{ form_end(siteForm) }}

</div>