<footer class="bg-dark text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-1" style="margin-top: 1rem;">
        <p class="text-white-50">© {{ 'now'|date('Y') }} Copyright - Sortir.com</p>
    </div>
    <!-- Copyright -->
</footer>