<body class="d-flex flex-column">
<div id="page-content">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <h1 type="hidden" class="font-weight-light mt-4 text-white">o</h1>
                <p type="hidden" class="lead text-white-50">o</p>
            </div>
        </div>
    </div>
</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50 fixed-bottom">
    <div class="container text-center">
        <small>{{ 'now'|date('Y') }} Copyright &copy; Sortir.com</small>
    </div>
</footer>
</body>