{% include 'base.html.twig' %}
<h1>Ajout d'un lieu</h1>

<div>
    {{ form_start(lieuForm) }}
    {{ form_widget(lieuForm) }}
    <button type="submit">Send</button>

    {{ form_end(lieuForm) }}

</div>