{% include 'base.html.twig' %}
{% block title %} Nouveau mot de passe{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 d-flex flex-column justify-content-center" style="margin-top:10rem;">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto">
                            <div class="card rounded shadow shadow-sm">
                                <div class="card-header text-center">
                                    <h3 class="mb-0">Entrez votre nouveau mot de passe</h3>
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        <label for="pass">Mot de passe</label>
                                        <input type="password" name="password" id="pass">
                                        <input type="hidden" name="token" value="{{ token }}">
                                        <button class="btn btn-success">Valider</button>
                                    </form>
                                </div>
                                <!--/card-block-->
                            </div>
                            <!-- /form card login -->
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--/col-->
            </div>
            <!--/row-->
        </div>
        <!--/container-->
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}
